@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  /* Font family */
  --font-display: "owners", sans-serif;
  --font-display-medium-it: "owners", sans-serif;


  /* Custom colors */
  --color-gold-slaps: #c4a15f;
  --color-black-slaps: #2d2d2d;
  --color-white-slaps: #dbd4c8;
  --color-offwhite2-slaps: #e4e0d9;
  --color-white-slaps: #ffffff;

}

@layer utilities {
    .text-slaps-h1 {
    font-family: "owners-wide", sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
  }
      .text-slaps-h2 {
    font-family: "owners-wide", sans-serif;
    letter-spacing: 0;
    font-weight: 500;
  }
  .text-slaps-heading {
    font-family: "owners-wide", sans-serif;
    letter-spacing: 0;
    font-weight: 500;
  }
  .text-slaps-menu {
    font-family: "owners-wide", sans-serif;
    letter-spacing: 0;
    font-weight: 500;
  }
  .text-slaps-body {
    font-family: "owners-wide", sans-serif;
    font-weight: 400;
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content; /* lets the container size to its actual content */
  animation: marquee 20s linear infinite;
}

@media (max-width: 767px) {
  .animate-marquee {
    animation-duration: 30s;
  }
}

@layer utilities {
  .grid-areas-layout {
    grid-template-areas:
      "logo"
      "main"
      "footer";
  }
  .area-logo {
    grid-area: logo;
  }
  .area-main {
    grid-area: main;
  }
  .area-footer {
    grid-area: footer;
  }

}
