@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  /* Font family */
  --font-display: "owners", sans-serif;
  --font-display-medium-it: "owners", sans-serif;

  /* Font sizes */
  --text-slaps-heading: 18px;
  --text-slaps-body: 14px;
  --text-slaps-button: 12px;

  /* Custom colors */
  --color-orange-slaps: #f05a28;
  --color-black-slaps: #232322;
  --color-offwhite-slaps: #f9f8f7;
  --color-white-slaps: #ffffff;

}

@layer base {
  .text-slaps-heading {
    font-family: "owners", sans-serif;
    line-height: 26.5pt;
    letter-spacing: 0;
    font-style: medium;
  }
  .text-slaps-body {
    font-family: "owners", sans-serif;
    font-style: light;
  }
}

@layer utilities {
  .grid-areas-layout {
    grid-template-areas:
      "logo"
      "main"
      "footer";
  }
  .area-logo {
    grid-area: logo;
  }
  .area-main {
    grid-area: main;
  }
  .area-footer {
    grid-area: footer;
  }

}
