@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  /* Font family */
  --font-display: "owners", sans-serif;
  --font-display-medium-it: "owners", sans-serif;


  /* Custom colors */
  --color-orange-slaps: #f05a28;
  --color-black-slaps: #232322;
  --color-offwhite-slaps: #f9f8f7;
  --color-white-slaps: #ffffff;

}

@layer utilities {
  .text-slaps-heading {
    font-family: "owners-wide", sans-serif;
    letter-spacing: 0;
    font-weight: 500;
  }
  .text-slaps-menu {
    font-family: "owners-wide", sans-serif;
    letter-spacing: 0;
    font-weight: 500;
  }
  .text-slaps-body {
    font-family: "owners-wide", sans-serif;
    font-size: 14px;
    font-weight: 500;
  }
}

@layer utilities {
  .grid-areas-layout {
    grid-template-areas:
      "logo"
      "main"
      "footer";
  }
  .area-logo {
    grid-area: logo;
  }
  .area-main {
    grid-area: main;
  }
  .area-footer {
    grid-area: footer;
  }

}
